:root {
    --background-color: #eee;
    --text-color: #000;
    --btn-text-color: #eee;
    --register-btn-color: #ad75ec;
    --signin-btn-color: #438b3a;
}

body {
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
}

input[type=text] {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

input[type=submit] {
    box-sizing: border-box;  /* include padding and border in the element's total width and height */
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.container {
    margin-top: 20%;
    margin-bottom: 40px;
    max-width: 600px;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: clamp(2rem, 5vw, 3rem);
}

form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.formGroup, .formGroup1, .formGroup2 {
    display: flex;
    flex-direction: row;
    gap: clamp(.3rem, 2.5vw, 2rem);
    width: 100%;
}

.formGroup1 {
    gap: clamp(.3rem, 2.5vw, 1.3rem);
    align-items: center;
}

.formGroup1 a {
    text-decoration: none;
}

.formGroup1 .checkbox-wrapper {
    width: 15rem;
}

.formGroup1 .checkbox-wrapper > label {
    font-weight: bold;
}

.formGroup1 .checkbox-wrapper > p {
    max-width: fit-content;
}

span {
    padding: 2px 10px;
    color: var(--btn-text-color);
    background-color: var(--register-btn-color);
    border-radius: 5px;
    font-size: .7rem;
    font-weight: 800;
}

.formGroup2 input {
    color: var(--btn-text-color);
    background-color: var(--register-btn-color);
}

.formGroup2 input:last-child {
    background-color: var(--signin-btn-color);
}

.formGroup2 input:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

@media (width > 1000px) {
    .container {
        margin-top: 10%;
        padding: 30px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;    }
}

@media (width > 1800px) {
    .container {
        margin-top: 5%;
        padding: 40px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;    }
}
